<div *ngIf="formOpen" class="flex items-center justify-center min-h-screen relative z-[1]">
  <div
    class="flex flex-col rounded-[10px] bg-white p-6 pb-12 shadow-2xl w-[600px] items-center justify-center relative">

    <form #newShiftForm="ngForm" (ngSubmit)="addShift(newShiftForm)">

      <div class="flex flex-col items-center justify-center w-full pb-2">
        <p class="text-darkGray font-manrope font-semibold text-[35px]">Add New Shift</p>
      </div>

      <div class="flex flex-col w-full gap-2">
        <div class="flex flex-col font-manrope font-regular text-white">
          <button (click)="toggleUserModal()"
            class="w-[444px] h-[60px] font-manrope font-semibold text-blueGray rounded-[10px] shadow-lg border border-[#e4e4e7] bg-white hover:bg-darkGrey/5 transition-[0.5s] my-4">
            {{ selectedUser ? (selectedUser.name + ' ' + selectedUser.lastname) : 'Select User' }}
          </button>

          <div *ngIf="userModalOpen"
            class="fixed inset-0 flex items-center justify-center p-4 absolute z-[10]">
            <div class="bg-grey rounded-lg max-w-lg w-full overflow-auto">
              <div class="border-b p-4 flex justify-between items-center">
                <span class="text-lg font-medium text-deepYellow">Select a User</span>
                <button (click)="toggleUserModal()" class="text-sm text-deepRed hover:text-lightRed">Close</button>
              </div>
              <ul class="list-none p-2 space-y-2">
                <li *ngFor="let user of users$ | async" (click)="selectUser(user)"
                  class="flex items-center space-x-2 cursor-pointer p-2 hover:bg-lightGrey/10">
                  <img *ngIf="userImages.get(user.id)" [src]="userImages.get(user.id)" [alt]="user.name"
                    class="h-10 w-10 rounded-full object-cover">
                  <div *ngIf="!userImages.get(user.id)"
                    class="h-10 w-10 rounded-full bg-gray-300 flex items-center justify-center text-white">N/A</div>
                  <div>{{ user.name }} {{ user.lastname }} - {{ user.roles }}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="busModalOpen"
          class="fixed inset-0 bg-black bg-opacity-50 flex items-center z-[10] justify-center p-4 absolute">
          <div class="bg-grey rounded-lg max-w-lg w-full overflow-auto">
            <div class="border-b p-4 flex justify-between items-center">
              <span class="text-lg font-medium text-deepYellow">Select a Bus</span>
              <button (click)="toggleBusModal()" class="text-sm text-deepRed hover:text-lightRed">Close</button>
            </div>
            <ul class="list-none p-2 space-y-2">
              <li *ngFor="let bus of buses$ | async" (click)="selectBus(bus)"
                class="flex items-center space-x-2 text-white p-2 hover:bg-lightGrey/10 hover:cursor-pointer">
                <div>{{ bus.licencePlate }}</div>
              </li>
            </ul>
          </div>
        </div>

        <button (click)="toggleBusModal()"
          class="w-[444px] h-[60px] font-manrope font-semibold text-blueGray rounded-[10px] shadow-lg border border-[#e4e4e7] bg-white hover:bg-darkGrey/5 transition-[0.5s] my-4">
          {{ selectedBus ? selectedBus.licencePlate : 'Select Bus' }}
        </button>

        <div *ngIf="locationModalOpen"
          class="fixed inset-0 bg-black bg-opacity-50 flex items-center z-[10] justify-center p-4 absolute">
          <div class="bg-grey rounded-lg max-w-2xl w-full overflow-auto">
            <div class="border-b p-4 flex justify-between items-center">
              <span class="text-lg font-medium text-deepYellow">Select a Location</span>
              <button (click)="toggleLocationModal()" class="text-sm text-deepRed hover:text-lightRed">Close</button>
            </div>
            <div #mapContainer class="h-96 w-full"></div>
            <button (click)="confirmLocation()"
              class="w-full h-[60px] font-manrope font-semibold text-white rounded-[10px] bg-lightGreen hover:bg-deepGreen transition-[0.5s]">
              Confirm Location
            </button>
          </div>
        </div>

        <button (click)="toggleLocationModal()"
          class="w-[444px] h-[60px] font-manrope font-semibold text-blueGray rounded-[10px] shadow-lg border border-[#e4e4e7] bg-white hover:bg-darkGrey/5 transition-[0.5s] my-4">
          {{ selectedLocation || 'Select Location' }}
        </button>

        <div class="flex flex-col w-full pb-4">
          <div class="flex flex-row w-full gap-4">
            <div class="flex flex-col w-[213px]">
              <div class="flex flex-col font-manrope items-center text-white ">
                <p class="text-[16px]">Start Time</p>
                <input type="datetime-local" id="startTime" name="startTime" [(ngModel)]="newShift.startTime"
                  class="w-full h-[60px] shadow-lg border border-[#e4e4e7] rounded-[10px] px-2 py-4 text-blueGray"
                  placeholder="Start Time">
              </div>
            </div>
            <div class="flex flex-col w-[213px]">
              <div class="flex flex-col font-manrope font-regular items-center text-white ">
                <p class="text-[16px]">Extra hours</p>
                <input type="number" id="extraHours" name="extraHours" [(ngModel)]="newShift.extraHours"
                  class="rounded-[10px] w-full h-[60px] shadow-lg border border-[#e4e4e7] bg-white px-2 py-4 text-blueGray"
                  placeholder="Extra Hours">
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="flex flex-row gap-2 items-center">
        <button type="submit" class="w-[444px] h-[60px] font-manrope font-semibold text-white rounded-[10px] 
            bg-lightGreen hover:bg-deepGreen transition-[0.5s] my-4">
          Add Shift
        </button>
        <!-- <div class="flex items-center relative group">
          <fa-icon [icon]="faExclamationTriangle" class="text-deepYellow text-[24px]"></fa-icon>
          <div
            class="absolute hidden group-hover:flex flex-col items-center left-3 bottom-10 transform -translate-x-1/2 mt-19">
            <div
              class="relative p-4 text-[16px] leading-tight text-white whitespace-no-wrap bg-deepYellow shadow-lg rounded-md w-max">
              Please fill out all fields before submitting.
            </div>
            <div class="w-4 h-4 bg-deepYellow rotate-45 -mt-2"></div>
          </div>
        </div>-->
      </div>
    </form>
  </div>
</div>