<div class="bg-[#222831] flex justify-center items-center w-full h-full">
  <div class="flex flex-row font-manrope bg-[#EEEEEE] rounded-[16px] shadow-lg w-[80%] h-[90%]">

    <!-- Left Side: Stats and Search -->
    <div
      class="flex flex-col w-[40%] px-8 py-6 bg-gradient-to-r from-[#222831] to-[#393E46] text-white rounded-l-[16px] ">

      <!-- Title -->
       <div class="w-full flex justify-center items-center">      
        <h2 class="text-[32px] uppercase tracking-widest font-medium text-white/50 mt-4">Dashboard</h2>
       </div>
      <!-- Stats Section -->
      <div class="grid grid-cols-2 gap-8 mt-12">
        <!-- Total Employees -->
        <div
          class="flex flex-col gap-2 p-2 rounded-[10px] shadow-lg justify-center items-center hover:bg-white/10 transition-[0.5s] cursor-pointer"
          (click)="navigateToEmployees()">
          <div class="flex flex-row gap-4 text-right items-center justify-center">
            <fa-icon [icon]="faUsers" class="text-[#FFD369] text-[50px]"></fa-icon>
            <span class="text-[40px] font-bold">9</span>
          </div>
          <div>
            <p class="text-sm">Total Employees</p>
          </div>
        </div>

        <!-- Gender Ratio -->
        <div class="flex flex-col gap-2 p-2 rounded-[10px] shadow-lg flex items-center justify-center hover:bg-white/10 transition-[0.5s] cursor-pointer" (click)="navigateToChats()">
          <div class="flex flex-row gap-4 text-right items-center justify-center">
            <fa-icon [icon]="faEnvelope" class="text-[#FFD369] text-[50px]"></fa-icon>
            <span class="text-[40px] font-bold">{{ unreadMessagesCount }}</span>
          </div>
          <div>
          <p class="text-sm">Unread Messages</p>
          </div>
        </div>

        <!-- Overtime Rate -->
        <div class="flex flex-col gap-2 p-2 rounded-[10px] shadow-lg flex items-center justify-center hover:bg-white/10 transition-[0.5s] cursor-pointer" (click)="navigateToCalendar()">
          <div class="flex flex-row gap-4 text-right items-center justify-center">
          <fa-icon [icon]="faBusinessTime" class="text-[#FFD369] text-[50px]"></fa-icon>
            <span class="text-[40px] font-bold">15%</span>
          </div>
          <div>
            <p class="text-sm">Overtime Rate</p>
          </div>
        </div>

        <!-- Income -->
        <div class="flex flex-col gap-2 p-2 rounded-[10px] shadow-lg flex items-center justify-center hover:bg-white/10 transition-[0.5s] cursor-pointer" (click)="navigateToEmployees()">
          <div class="flex flex-row gap-4 text-right items-center justify-center">
          <fa-icon [icon]="faMoneyBillTrendUp" class="text-[#FFD369] text-[50px]"></fa-icon>
            <span class="text-[40px] font-bold">9</span>
          </div>
          <div>
            <p class="text-sm">Unallocated wages</p>
          </div>
        </div>
      </div>

      <!-- Search Section -->
      <div class="rounded-[10px] shadow-lg mt-16">
        <div class=" overflow-y-auto h-[300px] custom-scrollbar">
          <div *ngFor="let user of users$ | async" class="flex items-center p-2">
            <img *ngIf="userImages.get(user.id)" [src]="userImages.get(user.id)" alt="{{ user.name }}"
              class="w-10 h-10 rounded-full shadow-sm mr-3">
            <div *ngIf="!userImages.get(user.id)"
              class="w-10 h-10 bg-gray-200 rounded-full shadow-sm mr-3 flex items-center justify-center">N/A</div>
            <div class="flex-grow">
              <div class="font-semibold text-white text-[20px]">{{ user.name }} {{ user.lastname }}</div>
              <div class="text-[25px] text-[#FFD369]">{{ getRoleDisplayName(user.roles) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Side: Chart Display -->
    <div class="flex flex-col w-[40%] justify-center ml-40 gap-8 items-center">
      <!-- Radio Buttons for Chart Toggle -->
      <div class="w-full flex gap-24 justify-center items-center text-bold">
        <label class="text-[#222831] text-xl font-bold">
          <input type="radio" name="chart" value="employeeChart" checked (change)="toggleChart('employeeChart')">
          Employed / Termianted
        </label>
        <label class="text-[#222831] text-xl font-bold">
          <input type="radio" name="chart" value="roleChart" (change)="toggleChart('roleChart')"> Roles
        </label>
      </div>

      <!-- Chart Canvas (Original Size) -->
      <div class="w-full flex justify-center">
        <canvas id="chartCanvas" class="w-[420px] h-[420px]"></canvas> <!-- Adjusted chart size -->
      </div>
    </div>
  </div>
</div>