<div class="container mx-auto p-5 bg-gradient-to-br from-[#1f2630] to-[#313b4a] text-white rounded-lg font-manrope shadow-lg">
  <div class="flex w-full justify-end items-center mb-7 mt-3">
    <button class="bg-veryLightBlue text-deepBlue font-manrope font-semibold h-[70px] w-[174px] border-[4px] px-5 text-[21px] rounded-lg shadow-md 
        hover:bg-veryLightBlue/20 border-veryLightBlue hover:text-veryLightBlue focus:ring-2 focus:ring-gray-300 transition duration-300 ease-in-out"
        (click)="addShift()">
        <fa-icon [icon]="faPlus" class="pr-1 text-[21px]"/>
    Add Shift
    </button>
  </div>

  <full-calendar class="w-full h-[80vh] md:h-[75vh] lg:h-[85vh]" [options]="calendarOptions">
    
    <ng-template #eventContent let-arg class="h-full overflow-y-auto custom-scrollbar border-nonwe">
      <div *ngIf="arg.event.extendedProps"
           [ngStyle]="getEventStyles(arg.event.extendedProps)"
           class="h-full flex flex-col overflow-hidden p-5 rounded-md shadow">
        <p class="font-manrope font-semibold text-sm ">{{ arg.event.title }}</p>
        <hr class=" border-white border-[1px]"/>
        <p class="font-manrope text-xl">{{ arg.event.start | date: 'HH:mm' }} - {{ arg.event.end | date: 'HH:mm' }}</p>
      </div>
    </ng-template>
  </full-calendar>
</div>
