<div class="container mx-auto p-6 bg-gray-50 text-darkGray rounded-[10px] font-manrope shadow-2xl mt-2 -ml-1">
  <div class="flex w-full justify-end items-center pb-1">
    <button class="bg-deepGreen text-white font-manrope font-semibold h-[45px] w-[174px] px-5 text-[21px] rounded-lg shadow-md 
        hover:bg-lightGreen focus:ring-2 focus:ring-gray-300 transition duration-300 ease-in-out"
        (click)="addShift()">
        <fa-icon [icon]="faPlus" class="pr-1 text-[21px]"/>
    Add Shift
    </button>
  </div>

  <full-calendar class="w-full h-[80vh] md:h-[75vh] lg:h-[85vh] " [options]="calendarOptions">
    <ng-template #eventContent let-arg>
      <div *ngIf="arg.event.extendedProps" [ngStyle]="getEventStyles(arg.event.extendedProps)" class="p-4 rounded-md shadow">
        <p class="font-semibold text-lg">{{ arg.event.title }}</p>

        <p class="text-base">{{ arg.event.start | date: 'HH:mm' }} - {{ arg.event.end | date: 'HH:mm' }}</p>
      </div>
    </ng-template>
  </full-calendar>
</div>
