.chat-container {
    display: flex;
    height: 88vh;
}

.user-list-section {
    width: 300px;
    background: #222831;
    padding: 10px;
}

.user-search {
    position: relative;
    margin-bottom: 10px;
}

.user-search input {
    width: 100%;
    padding: 8px 30px 8px 10px;
    background: #393E46;
    box-sizing: border-box;
    border: none;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.user-list {
    overflow-y: auto;
    color: #EEEEEE;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.unread-message {
    background-color: white; /* Light red background for unread messages */
  }
  
  .font-bold {
    font-weight: bold;
  }

.user-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.input-area {
    display: flex;
    flex-direction: row;
    width: full;
    align-items: center;
    padding: 10px;
    background: #363d4a;
    color: #303133;
}

.user-item span {
    font-size: 16px;
    color: #EEEEEE;
    font-weight: bold;
}

.user-item p {
    font-size: 12px;
    color: #abacb0;
    margin-top: 4px;
}

.message-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    background-color: #393E46;
    color: #1f2630;

}

.messages {

    flex-grow: 1;
    overflow-y: auto;
}


.message {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #363d4a;
    border-radius: 10px;
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 80%;
}

.mine {
    background-color:#FFD369;
    align-self: flex-end;
    color: #222831;
    margin-left: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;

}

.theirs {
    background-color: #cccccc;
    align-self: flex-start;
    color: #222831;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #4CD137;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #d6af4f;
}

.send-button {
    padding: 10px;
    background-color: #FFD369;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-icon:hover {
    color: #d6af4f;
    transform: scale(1.1);

}

.send-icon {
    border: none;
    background: none;
    cursor: pointer;
    color: #FFD369;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    transition: color 0.3s, transform 0.2s;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #222831;
    margin-bottom: 10px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;

}

.user-details span {
    font-size: 18px;
    color: #EEEEEE;
    display: flex;
    align-items: center;
}

.user-role {
    font-size: 16px;
    color: gray;
    margin-left: 5px;
}