<div class="flex flex-col justify-center items-center pb-12 min-h-screen" *ngIf="userDTO"> 
    <form (ngSubmit)="updateUser(updateEmployeeForm)" #updateEmployeeForm="ngForm">
        <div class="flex flex-col w-[1000px] rounded-[10px] bg-white items-center justify-center p-6 shadow-2xl">
        <div class="flex felx-col items-center justify-center w-full mt-4">
            <p class="text-darkGrey font-manrope font-semibold text-[35px]">Edit employee information</p>
        </div>
        <div class="flex flex-row my-4 w-full">
            <div class="flex flex-col w-[48%]">
                <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                    <p class="text-[14px] mb-2">First Name</p>
                    <input class="rounded-[10px] h-[50px] shadow-lg border border-[#e4e4e7] w-full w-full bg-white px-2 py-4"
                            placeholder="e.g. John" [(ngModel)]="userDTO.name" name="name"
                            type="text" >
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                    <p class="text-[14px] mb-2">Last Name</p>
                    <input class="rounded-[10px] h-[50px] w-full shadow-lg border border-[#e4e4e7] w-full bg-white px-2 py-4"
                            placeholder="e.g. Doe" [(ngModel)]="userDTO.lastname" name="lastname"
                            type="text" >
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                    <p class="text-[14px] mb-2">Date of Birth</p>
                    <input class="rounded-[10px] h-[50px] shadow-lg border border-[#e4e4e7]  w-full w-full bg-white px-2 py-4"
                            placeholder="MM/DD/YYYY"
                            type="date" [(ngModel)]="userDTO.dateOfBirth" name="dateOfBirth">
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                    <p class="text-[14px] mb-2">Phone number</p>
                    <input class="placeholder:blueGray shadow-lg border border-[#e4e4e7] rounded-[10px] h-[50px] w-full w-full bg-white px-2 py-4"
                            placeholder="Enter your phone number" [(ngModel)]="userDTO.phone" name="phoneNumber"
                            type="text">
                </div>
            </div>
            <div class="flex w-[4%]"></div>
            <div class="flex flex-col w-[48%]">
                <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                    <p class="text-[14px] mb-2">Username</p>
                    <input class="rounded-[10px] h-[50px] w-full shadow-lg border border-[#e4e4e7] w-full bg-white px-2 py-4"
                            placeholder="e.g. john" [(ngModel)]="userDTO.username" name="username"
                            type="text" >
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                    <p class="text-[14px] mb-2">Email</p>
                    <input class="rounded-[10px] h-[50px] w-full shadow-lg border border-[#e4e4e7] w-full bg-white px-2 py-4"
                            placeholder="you@gmail.com" [(ngModel)]="userDTO.email" name="email"
                            type="email" >
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                    <p class="text-[14px] mb-2">Password</p>
                    <input class="rounded-[10px] h-[50px] w-full shadow-lg border border-[#e4e4e7] w-full bg-white px-2 py-4"
                            placeholder="Enter your password" [(ngModel)]="userDTO.password" name="password"
                            type="password" >
                </div>
                <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                    <p class="text-[14px] mb-2">User Role</p>
                    <select class="rounded-[10px] h-[50px] shadow-lg border border-[#e4e4e7] w-full w-full bg-white px-2 py-2 "
                            [(ngModel)]="userDTO.roles" name="roles" >
                        <option value="ROLE_ROUTEADMINISTRATOR" style="color: black; font-size: 18px; background-color: white; outline: none;">Route Administrator</option>
                        <option value="ROLE_HRAdministrator" style="color: black; font-size: 18px; background-color: white; outline: none;">HR Administrator</option>
                        <option value="ROLE_DRIVER" style="color: black; font-size: 18px; background-color: white; outline: none;">Driver</option>
                        <option value="ROLE_SERVICER" style="color: black; font-size: 18px; background-color: white; outline: none;">Servicer</option>
                        <option value="ROLE_Accountant" style="color: black; font-size: 18px; background-color: white; outline: none;">Accountant</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="flex flex-row w-[444px] h-[64px] rounded-[10px] bg-lightGreen justify-center items-center hover:bg-deepGreen transition-[0.5s]"
                type="submit">
            <p class="font-manrope text-white font-semibold text-[24px]">Save</p>
        </button>
    </div>
</form>
</div>
