<div class="bg-[#222831] flex justify-center items-center w-full h-full">
    <div class="flex flex-row font-manrope bg-[#EEEEEE] rounded-[16px] shadow-lg w-[60%] h-[80%]">
        <form (ngSubmit)="updateUser(updateEmployeeForm)" #updateEmployeeForm="ngForm"
            class="flex flex-col w-[55%] justify-center items-center gap-2">
            <div class="flex flex-col font-manrope font-regular justify-center items-center w-[80%] text-darkGray">
                <div class="flex flex-row w-full my-4">
                    <!-- Left Column for Personal Details -->
                    <div class="flex flex-col w-1/2 gap-2">
                        <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                            <label class="text-[14px] mb-2">First Name</label>
                            <input
                                class="shadow-lg border border-[#e4e4e7] rounded-[10px] h-[50px] w-full bg-white px-2 py-4"
                                [(ngModel)]="userDTO.name" name="name" type="text" required>
                        </div>
                        <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                            <label class="text-[14px] mb-2">Last Name</label>
                            <input
                                class="shadow-lg border border-[#e4e4e7] rounded-[10px] h-[50px] w-full bg-white px-2 py-4"
                                [(ngModel)]="userDTO.lastname" name="lastname" type="text" required>
                        </div>
                        <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                            <label class="text-[14px] mb-2">Date of Birth</label>
                            <input
                                class="shadow-lg border border-[#e4e4e7] rounded-[10px] h-[50px] w-full bg-white px-2 py-4"
                                [(ngModel)]="userDTO.dateOfBirth" name="dateOfBirth" type="date">
                        </div>
                        <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                            <label class="text-[14px] mb-2">Phone Number</label>
                            <input
                                class="shadow-lg border border-[#e4e4e7] rounded-[10px] h-[50px] w-full bg-white px-2 py-4"
                                [(ngModel)]="userDTO.phone" name="phoneNumber" type="text">
                        </div>
                    </div>
                    <div class="flex w-[4%]"></div> <!-- Spacer Column -->
                    <!-- Right Column for Credentials -->
                    <div class="flex flex-col w-1/2 gap-2">
                        <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                            <label class="text-[14px] mb-2">Username</label>
                            <input
                                class="shadow-lg border border-[#e4e4e7] rounded-[10px] h-[50px] w-full bg-white px-2 py-4"
                                [(ngModel)]="userDTO.username" name="username" type="text" required>
                        </div>
                        <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                            <label class="text-[14px] mb-2">Email</label>
                            <input
                                class="shadow-lg border border-[#e4e4e7] rounded-[10px] h-[50px] w-full bg-white px-2 py-4"
                                [(ngModel)]="userDTO.email" name="email" type="email" required>
                        </div>
                        <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                            <label class="text-[14px] mb-2">Password</label>
                            <input
                                class="shadow-lg border border-[#e4e4e7] rounded-[10px] h-[50px] w-full bg-white px-2 py-4"
                                [(ngModel)]="userDTO.password" name="password" type="password">
                        </div>
                        <div class="flex flex-col font-manrope font-regular w-full text-blueGray my-4">
                            <p class="text-[14px] mb-2">User Role</p>
                            <select class="rounded-[10px] h-[50px] shadow-lg border border-[#e4e4e7] w-full w-full bg-white px-2 py-2 "
                                    [(ngModel)]="userDTO.roles" name="roles" >
                                <option value="ROLE_ROUTEADMINISTRATOR" style="color: black; font-size: 18px; background-color: white; outline: none;">Route Administrator</option>
                                <option value="ROLE_HRAdministrator" style="color: black; font-size: 18px; background-color: white; outline: none;">HR Administrator</option>
                                <option value="ROLE_DRIVER" style="color: black; font-size: 18px; background-color: white; outline: none;">Driver</option>
                                <option value="ROLE_SERVICER" style="color: black; font-size: 18px; background-color: white; outline: none;">Servicer</option>
                                <option value="ROLE_Accountant" style="color: black; font-size: 18px; background-color: white; outline: none;">Accountant</option>
                            </select> 
                        </div>
                    </div>
                </div>
                <button
                    class="w-full h-[50px] mt-8 font-manrope font-semibold text-white rounded-[10px] bg-[#FFD369] hover:bg-[#FFD369]/70 transition-[0.5s]"
                    type="submit">
                    Save Changes
                </button>
            </div>
        </form>
        <!-- Information Section -->
        <div
        class="w-[45%] text-center bg-gradient-to-r from-[#222831] to-[#393E46] flex flex-col justify-center items-center text-white p-8 rounded-r-[16px]">
        <h2 class="text-[35px] font-bold mb-4 ">Edit Employee Information</h2>
        <p class="text-[20px] mb-6 text-white/50 text-center">Update the necessary details to modify an employee's record in the
                system.</p>
        </div>
    </div>
</div>