<div class="flex flex-col justify-center items-center pb-12 min-h-screen bg-grey">
    <form (ngSubmit)="deleteEmployee()">
        <div class="flex flex-col w-[900px] rounded-[10px] bg-gradient-to-br from-[#1f2630] to-[#313b4a] items-center justify-center p-6 border-4 border-lightBlue">
            <div class="flex flex-col items-center justify-center w-full border-b-[4px] border-lightBlue pb-4">
                <p class="text-lightBlue font-manrope font-semibold text-[30px]">Are you sure you want to terminate this user?</p>
                <p class="text-veryLightBlue font-manrope font-medium text-[35px]">{{ username }} (<span class="text-[24px]">{{ userRole }}</span>)</p>
            </div>
            <div class="flex flex-row my-4 w-full">
                <div class="flex flex-col w-full">
                    <div class="flex flex-col font-manrope font-regular w-full text-white my-4">
                        <p class="text-[16px] mb-2">Reason *</p>
                        <textarea #reasonInput [(ngModel)]="reason" name="reason" class="border-none rounded-[10px] h-[200px] w-full bg-lightGrey/10 px-2 py-4 placeholder:text-lightGrey/30" placeholder="Enter reason for termiantion..."
          placeholder="Enter reason for termination" required></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="flex flex-row w-[444px] h-[64px] rounded-[10px] bg-deepRed justify-center items-center hover:bg-lightRed transition-[0.5s]">
                <p class="font-manrope text-white font-semibold text-[24px]">Terminate</p>
            </button>
        </div>
    </form>
</div>
