/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';



  
.fc-daygrid-day-events {
    overflow-y: auto;
    max-height: 80px;
}

.fc-daygrid-day {
    height: 80px;
    background-color: #EEEEEE; /* Svetliji deo za dane */
    color: #222831; /* Tamniji tekst za dane */
  }
  
  .fc-daygrid-day-top {
    background-color: #393E46; /* Tamnija boja za zaglavlje dana */
    color: #FFFFFF; /* Beli tekst */
    height: 30px;
  }
  
  
  
  .fc-button {
    background-color: #393E46; /* Dugmad u stilu tamnije strane */
    color: #222831;
    border: none;
  }
  
  .fc-button-active {
    background-color: #222831;
    color: #FFD369;
  }
  
  .fc-prev-button, .fc-next-button {
    font-size: 24px; /* Veća ikona za navigaciju */
  }
  
  .fc-toolbar-title {
    font-size: 28px; /* Veći font za naslov */
    color: #222831;
  }
  
  .fc-scrollgrid {
    border: none; /* Uklanjanje defaultnih bordera */
  }
  
.fc-more {
    cursor: pointer;
}

:root{
  --fc-button-text-color: #EEEEEE;
  --fc-button-bg-color: #FFFFFF;
  --fc-button-border-color: transparent;
  --fc-button-hover-bg-color: #DCDDE1;
  --fc-button-hover-border-color: transparent;


  --fc-event-bg-color: transparent;
  --fc-event-border-color: transparent;

  --fc-small-font-size: .85em;
  --fc-page-bg-color: #F5F6FA;
  --fc-neutral-bg-color: white;
  --fc-neutral-text-color: #EEEEEE;
  --fc-border-color: #EEEEEE;
}
  
.full-calendar-button:hover {
    background-color: #e74c3c;
}
  
.full-calendar-event {
    cursor: pointer;
}
  
.full-calendar-event:hover {
    background-color: #f39c12; 
}