<div class="bg-[#222831] flex justify-center items-center w-full h-full">
    <div class="flex flex-row font-manrope bg-[#EEEEEE] rounded-[16px] shadow-lg w-[80%] h-[90%]">
      
      <!-- Left Side: Profile Information and Image -->
      <div class="flex flex-col px-16 py-6 w-[40%] space-y-6 justify-center items-center bg-gradient-to-r from-[#222831] to-[#393E46] text-white rounded-l-[16px]">
        <!-- User Image and Upload Option -->
        <div class="relative group">
            <div class="profile-pic shadow-xl border-[6px] border-[#FFD369]" (click)="fileInput.click()">
                <div class="image-container" *ngIf="userImage; else noImageTemplate">
                    <img [src]="userImage" class="profile-image">
                    <div class="overlay">
                        <div class="plus-sign">+</div>
                    </div>
                </div>
                <ng-template #noImageTemplate>
                    <div class="plus-sign no-image-plus">+</div>
                </ng-template>
            </div>
            <input type="file" (change)="uploadImage($event)" hidden #fileInput>
        </div>
        
        <!-- User Info -->
        <div class="flex flex-col items-center">
          <h2 class="text-[45px] font-bold">{{ loggedUser.name }} {{ loggedUser.lastname }}</h2>
          <p class="text-[25px] text-gray-300">{{ getRoleDisplayName(loggedUser.roles) }}</p>
          <p class="text-[20px] text-gray-400">{{ loggedUser.email }}</p>
          <p class="text-[20px] text-gray-400">{{ loggedUser.phoneNumber }}</p>
        </div>
      </div>
  
      <!-- Right Side: Edit Form -->
      <div class="flex flex-col px-16 py-6 w-[60%] space-y-6 justify-center">
        <h2 class="text-[#222831] font-manrope font-semibold text-[40px]">Edit Profile</h2>
  
        <form class="flex flex-col space-y-6">
          <!-- Name Fields -->
          <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col font-regular text-[#222831]">
              <label for="firstname" class="text-[14px] mb-2">First Name</label>
              <input id="firstname" [(ngModel)]="firstname" name="firstname" class="shadow-lg rounded-[12px] h-[50px] border border-[#e4e4e7] focus:border-lightYellow bg-white px-4 py-2 placeholder:text-[#222831]/50 transition duration-300" placeholder="Enter your first name">
            </div>
            <div class="flex flex-col font-regular text-[#222831]">
              <label for="lastname" class="text-[14px] mb-2">Last Name</label>
              <input id="lastname" [(ngModel)]="lastname" name="lastname" class="shadow-lg rounded-[12px] h-[50px] border border-[#e4e4e7] focus:border-lightYellow bg-white px-4 py-2 placeholder:text-[#222831]/50 transition duration-300" placeholder="Enter your last name">
            </div>
          </div>
  
          <!-- Contact Info Fields -->
          <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col font-regular text-[#222831]">
              <label for="phoneNumber" class="text-[14px] mb-2">Phone Number</label>
              <input id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" class="shadow-lg rounded-[12px] h-[50px] border border-[#e4e4e7] focus:border-lightYellow bg-white px-4 py-2 placeholder:text-[#222831]/50 transition duration-300" placeholder="Enter your phone number">
            </div>
            <div class="flex flex-col font-regular text-[#222831]">
              <label for="dateOfBirth" class="text-[14px] mb-2">Date of Birth</label>
              <input id="dateOfBirth" [(ngModel)]="dateOfBirth" name="dateOfBirth" type="date" class="shadow-lg rounded-[12px] h-[50px] border border-[#e4e4e7] focus:border-lightYellow bg-white px-4 py-2 placeholder:text-[#222831]/50 transition duration-300">
            </div>
          </div>
  
          <!-- Account Info -->
          <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col font-regular text-[#222831]">
              <label for="email" class="text-[14px] mb-2">Email</label>
              <input id="email" [(ngModel)]="email" name="email" type="email" class="shadow-lg rounded-[12px] h-[50px] border border-[#e4e4e7] focus:border-lightYellow bg-white px-4 py-2 placeholder:text-[#222831]/50 transition duration-300">
            </div>
            <div class="flex flex-col font-regular text-[#222831]">
              <label for="username" class="text-[14px] mb-2">Username</label>
              <input id="username" [(ngModel)]="username" name="username" class="shadow-lg rounded-[12px] h-[50px] border border-[#e4e4e7] focus:border-lightYellow bg-white px-4 py-2 placeholder:text-[#222831]/50 transition duration-300">
            </div>
          </div>
  
          <!-- Password Fields -->
          <div class="grid grid-cols-2 gap-6">
            <div class="flex flex-col font-regular text-[#222831]">
              <label for="password" class="text-[14px] mb-2">Password</label>
              <input id="password" [(ngModel)]="password" name="password" type="password" class="shadow-lg rounded-[12px] h-[50px] border border-[#e4e4e7] focus:border-lightYellow bg-white px-4 py-2 placeholder:text-[#222831]/50 transition duration-300">
            </div>
          </div>
  
          <!-- Save Button -->
          <button (click)="saveChanges()" class="flex w-full h-[50px] rounded-[12px] bg-[#FFD369] justify-center items-center mt-6 hover:bg-[#FFD369]/80 transition-[0.5s] shadow-md">
            <p class="font-manrope text-[#222831] font-semibold text-[18px]">Save Changes</p>
          </button>
        </form>
      </div>
    </div>
  </div>
  